@font-face {
	font-family: Indie;
	src: url(../fonts/IndieFlower-Regular.ttf);
}

:root {
	--ash-gray: #cad2c5ff;
	--cambridge-blue: #84a98cff;
	--hookers-green: #52796fff;
	--dark-slate-gray: #354f52ff;
	--charcoal: #2f3e46ff;
}

/* GLOBAL SETTINGS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Indie, sans-serif;
	color: var(--charcoal);
}

p {
	display: inline;
}

/* MAIN */
main {
	min-height: 100vh;
	padding: 2vh 0;
	background-color: var(--ash-gray);
	display: flex;
	justify-content: center;
}

/* WAIVY H1 */
.waviy {
	position: relative;
	font-size: 3.8vw;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 5px var(--hookers-green);
}

.waviy span {
	position: relative;
	display: inline-block;
	color: var(--hookers-green);
	animation: waviy 1s infinite;
	animation-delay: calc(0.05s * var(--i));
}
@keyframes waviy {
	0%,
	40%,
	100% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-10px);
	}
}
/* SECTION */
section {
	background-color: var(--cambridge-blue);
	min-height: 80vh;
	width: 55vw;
	padding: 2%;
	border-radius: 5%;
	box-shadow: 10px 10px 10px var(--dark-slate-gray);
}

/* FORM , INPUT, LABLELS*/
input,
select {
	background-color: var(--ash-gray);
	border: 1px solid var(--dark-slate-gray);
	color: var(--hookers-green);
	text-shadow: 0.5px solid var(--cambridge-blue);
	padding: 0.5%;
	margin-bottom: 2vh;
	font-size: 1.2vw;
}

label {
	display: block;
	font-size: 1.8vw;
}

label[for="k-bau-m"],
label[for="k-bau-w"],
.einheit {
	display: inline;
	font-size: 1.8vw;
}

label[for="k-bau-w"] {
	margin-right: 1vw;
}

select {
	width: 100%;
}

input[type="submit"] {
	transition: 0.5s ease-out;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: var(--dark-slate-gray);
	color: var(--ash-gray);
}

/* Table stylen */
table {
	width: 100%;
	margin-bottom: 1vh;
}

table,
td {
	border: 1px solid var(--hookers-green);
	font-size: 1.8vw;
}

td {
	padding: 1%;
}
